.height-1em
  height: 1em

.height-3em
  height: 3em

.square
  width: 100%
  height: 0
  padding-bottom: 100%
  position: relative

.inference-image
  border: solid #cacaca 2px

.inference-image-container
  position: absolute
  width: 100%
  height: 100%

  display: flex
  align-items: center

  overflow: hidden

.inference-card
  padding-bottom: 1em

.col-sm-05
  @media (min-width: 576px)
    -ms-flex: 0 0 4.166667%
    flex: 0 0 4.166667%
    max-width: 4.166667%
